backend
../backend
node_modules
../Frontend/node_modules
android
../Frontend/android
ios
../Frontend/ios
dist
../Frontend/dist
dist-ssr
../Frontend/dist-ssr
.output
../Frontend/.output
.vinxi
../Frontend/.vinxi
.tanstack/**
../Frontend/.tanstack/**
.nitro
../Frontend/.nitro
.vercel
../Frontend/.vercel
.git
../.git
.wrangler
../Frontend/.wrangler
.expo
../Frontend/.expo
.eas
../Frontend/.eas
*.log
